/* 
320px - 480px: dispositivos móveis;
481px - 768px: tablets;
769px - 1024px: telas pequenas, laptops;
1025px - 1200px: desktops;
1201px - 1600px: telas grandes;
+1601px: TVs e tela grandes.
*/

/* 1024px: telas pequenas, laptops */
/* @media screen and (max-width: 1024px)
{

} */

/* 768px: tablets */
@media screen and (max-width: 768px) {
    .card img {
        width: auto;
        height: 200px;
    }
}

/* 480px: dispositivos móveis */
@media screen and (max-width: 481px) {
    .capa {
        background-image: url(/img/capaprodutos.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .card img {
        width: auto;
        height: 200px;
    }

    .capaI h1 {
        padding-left: 100px;
    }

    .capaI h2 {
        padding-left: 100px;
    }

    .container-fluid {
        width: auto;
        height: 100px;
    }

    .navbar-brand img {
        width: auto;
        height: 50px;
    }

    .rodape {
        width: 100%;
        height: 100%;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        margin-bottom: -120px;
    }

    .rodapeC {
        display: grid;
        color: white;
        justify-content: space-around;
        align-items: center;
    }

        .rodapeC i {
            margin-left: 20px;
            font-size: 40px;
            transition: .5s;
        }

        .rodapeC li h4 {
            font-size: 12px;
            text-align: center;
        }

        .rodapeC img {
            padding-left: 100px;
        }
}

/* 320px: dispositivos móveis */
@media screen and (max-width: 320px) {
    .capaI h1 {
        padding-left: 20px;
        font-size: 40px;
    }

    .capaI h2 {
        font-size: 15px;
      /*  padding-left: 30px;*/
        text-align: justify;
    }

    .entrarC li input[type=text],
    .entrarC li input[type=password],
    .entrarC li input[type=tel],
    .entrarC li input[type=email],
    .entrarC li textarea {
        margin: 10px;
        margin-left: 50px;
        width: 30%;
        padding: 10px;
        font-size: 15px;
    }

        .entrarC li input[type=text]:focus,
        .entrarC li input[type=password]:focus,
        .entrarC li input[type=tel]:focus,
        .entrarC li textarea:focus {
            margin-left: 50px;
            outline: none;
            align-items: center;
        }

    .entrarC li input {
        margin-left: 10px;
    }

    .btnDefault {
        margin: 10px;
    }

    .container-fluid {
        width: auto;
        height: 100px;
    }

    .navbar-brand img {
        width: auto;
        height: 50px;
    }

    .rodape {
        width: 100%;
        height: 100%;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        margin-bottom: -120px;
    }

    .rodapeC {
        display: grid;
        color: white;
        justify-content: space-around;
        align-items: center;
    }

        .rodapeC i {
            margin-left: 5px;
            font-size: 20px;
            transition: .5s;
        }

        .rodapeC li h4 {
            font-size: 8px;
            text-align: center;
        }

        .rodapeC img {
            padding-left: 100px;
        }
}
